doctype
html
  head
    title Socket Example

    //fonts
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="/css/main.min.css")

  body
    block main
      
    footer
      // footer
    
    //scripts
    script(src="/js/external/jquery.js")  
    script(src="https://cdn.socket.io/socket.io-1.4.5.js")
    
    // block scripts
    block scripts

  
