/* Flex Grid */
.row {
  flex: 1
  display: flex
  flex-flow: row
}

.column {
  flex: 1
  display: flex
  flex-flow: column
}

.flex-2 { flex: 2 }
.flex-3 { flex: 3 }
.flex-4 { flex: 4 }
.flex-5 { flex: 5 }
.flex-6 { flex: 6 }
